.piles-container{
    padding-top: 25px;
    display: flex;
    justify-content: space-around;

    .pile{
        
        .pile-title{
            font-weight: 600;
            text-align: left;
            text-decoration: underline;
            padding-bottom: 10px;
        }

        .skill{

            .skill-title{
                padding-top: 12px;
                font-weight: 500;
                color: rgba(26, 27, 31, 0.7);
                padding-bottom: 5px;
            }

            .subskills-set{
                padding-left: 30px;
                

                .subskill{
                    color: rgba(26, 27, 31, 0.6);
                    padding-bottom: 5px;

                }
            }
        }
    }
}