.content-skills{
    
    // ORIGINAL IDEA
    // @import '/original_idea';

    // D3 CIRCULAR GRAPH
    
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    @if $is_phone_portrait{
        margin-top: -30px;
        justify-content: space-around;
    }@else{
        padding-top: 50px;
        justify-content: space-between;
    }
    


    
    #skills-canvas-container{
        //USING font-family TO LET KNOW REACT WHICH MEDIA QUERY WE'RE IN
        margin-top: 30vh;

        @if $is_phone_portrait{
            font-family: 'phone-portrait';
        }
    }

    .angle-input-container{
        z-index: 999;
        display: flex;
        flex-direction: column;
        
        @if $is_phone_portrait{
            width: 60vw;
        }@else{
            width: 20vw;
        }
        

        .input-title{
            text-align: center;
        }

        .angle-input{
            cursor: pointer;
        }
    }
}