.content-skills{
    
    // ORIGINAL IDEA
    // @import '/original_idea';

    // D3 CIRCULAR GRAPH
    
    height: 80vh;
    display: flex;
    align-items: center;
    padding-top: 50px;
    @if $is_phone_portrait{
        margin-top: -90px;
        justify-content: space-around;
    }@else{
        justify-content: space-between;
    }

    @if $is_phone_landscape{
        margin-left: 130px;
        flex-direction: row;
        justify-content: space-evenly;
    }@else{
        flex-direction: column;
    }

    


    
    #skills-canvas-container{
        //USING font-family TO LET KNOW REACT WHICH MEDIA QUERY WE'RE IN
        margin-top: 30vh;

        @if $is_phone_portrait{
            font-family: 'phone-portrait';
        }@else if $is_phone_landscape{
            font-family: 'phone-landscape';
            margin-bottom: 100px;
        }
    }

    .angle-input-container{
        z-index: 999;
        display: flex;
        
        @if $is_phone_portrait{
            margin-top: 120px;
            width: 60vw;
        }
        @else{
            width: 20vw;
        }

        @if $is_phone_landscape{
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            width: 10vw;
        }@else{
            flex-direction: column;
        }
        

        .input-title{
            text-align: center;
        }

        .angle-input{
            cursor: pointer;
            @if $is_phone_landscape{
                width: 5vw;
                -webkit-appearance: slider-vertical;
            }
        }
    }
}