.content-experience{
    padding-bottom: 40px;


    .category{
        display: flex;
        justify-content: space-between;
        padding: 18px 50px 0 50px;
        @if $is_phone_portrait or $is_phone_landscape{
            flex-direction: column;
            align-items: center;
        };
        
        
        .exp-subtitle{
            font-weight: 600;
            @if $is_phone_portrait or $is_phone_landscape{
                width: 50%;
                text-align: center;
                font-size: 25px;
                font-weight: 400;
                margin-bottom: 20px;
            }@else{
                width: 40%;
                text-align: right;
                
            }
        }

        .exp-cat-detail-container{
            @if $is_phone_portrait or $is_phone_landscape{
                width: 90%;
                text-align: center;
            }@else{
                width: 55%;
            }
            

            
            .exp-cat-detail{
                padding-bottom: 14px;


                .exp-cat-detail-title{
                    font-weight: 600;
                    padding-bottom: 5px;
                }

                .exp-cat-detail-subtitle{
                    font-size: 14px;
                    color: rgba(26, 27, 31, 0.5);
                    font-style: italic;
                    padding-bottom: 5px;
                }

                .exp-cat-detail-desc{
                    font-size: 14px;
                    color: rgba(26, 27, 31, 0.5);
                    padding-bottom: 5px;
                }

            }
        }

    }
}