.content-gallery{
    position: absolute; top: 0%; right: 0%; left: 0%; bottom: 0%;
                
    .gallery-menu{
        display: flex;
        justify-content: center;
        margin-top: -5px;

        .gallery-menu-option{
            min-width: 20vw;
            font-size: 25px;
            color: rgba(26, 27, 31, 0.6);
            text-align: center;
            cursor: pointer;
            z-index: 999;

            transition: 1s;
            color: rgba(26, 27, 31, 0.24);

            &:hover{
                color: rgba(26, 27, 31, 0.6);
                transition: 1s;
            }
        }

        #is-selected{
            color: rgba(26, 27, 31, .84);
        }
    }

    .slider{
        position: absolute; top: 0%; right: 0%; left: 0%; bottom: 0%;
        
        .arrows-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 100px 0 100px;
            height: 100%;
            z-index: 999;

            // ARROW IS STYLED IN CODE
        }

        .gallery-container{
            // background-color: rgba(26, 27, 31, 0.5);
            position: absolute; top: 20%; right: 0%; left: 0%; bottom: 0%;
            z-index: 0;
            display: flex;
            justify-content: center;

            // IMAGES WOULD BE HERE
            // Python SVG's don't need to be here
            // D3 Components are labeled react-component
        
            #react-component{
                border: .5px;
                // border-style: solid;
                border-color: rgba(26, 27, 31, .2);
                width: 50%;
                margin: 0 20px 50px 0;
            }

            #image-source{
                max-width: auto;
                max-height: 90%;
            }


            .graph-description-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 10%;
                padding-bottom: 50px;

                .graph-description-header{
                    font-weight: 700;
                    font-size: 15px;
                    text-align: left;
                    padding-bottom: 5px;
                    color: rgba(26, 27, 31, 0.4);
                }

                .graph-description{
                    font-size: 14px;
                    padding-bottom: 20px;
                }
            }
            
        }
    }

}