.content-gallery{
    position: absolute; top: 0%; right: 0%; left: 0%; bottom: 0%;
    
    @if $is_phone_portrait{
        animation-name:'phone-portrait';
    }@else if $is_phone_landscape{
        animation-name:'phone_landscape';
    }@else{
        animation-name:'other-but-portrait';
    }
    

    .title{
        @if $is_phone_portrait or $is_phone_landscape{
            font-size: 25px;
            font-weight: 500;
        }
    }
                
    .gallery-menu{
        display: flex;
        margin-top: -5px;
        
        @if $is_phone_portrait{
            justify-content: space-around;
        }@else if $is_phone_landscape{
            justify-content: space-between;
        }@else{
            justify-content: center;
        }

        .gallery-menu-option{
            min-width: 20vw;
            
            color: rgba(26, 27, 31, 0.6);
            text-align: center;
            cursor: pointer;
            z-index: 999;

            transition: 1s;
            color: rgba(26, 27, 31, 0.24);
            
            @if $is_phone_portrait or $is_phone_landscape{
                font-size: 15px;
                font-weight: 500;
            }@else{
                font-size: 25px;
            }

            &:hover{
                color: rgba(26, 27, 31, 0.6);
                transition: 1s;
            }
        }

        #is-selected{
            color: rgba(26, 27, 31, .84);
        }
    }

    .slider{
        position: absolute; top: 0%; right: 0%; left: 0%; bottom: 0%;
        
        .arrows-container{
            display: flex;
            justify-content: space-between;
            height: 100%;
            z-index: 999;


            @if $is_phone_landscape{
                // align-items: center;
                padding: 0 100px 0 100px;
            }@else if not $is_phone_portrait{
                    padding: 0 100px 0 100px;
                    align-items: center;
            }
            

            // ARROW IS STYLED IN CODE
        }

        .gallery-container{
            // background-color: rgba(26, 27, 31, 0.5);
            position: absolute; top: 20%; right: 0%; left: 0%; bottom: 0%;
            z-index: 0;
            display: flex;
            justify-content: center;

            @if $is_phone_portrait{
                flex-direction: column-reverse;
            }

            // IMAGES WOULD BE HERE
            // Python SVG's don't need to be here
            // D3 Components are labeled react-component
        
            #react-component{
                border: .5px;
                // border-style: solid;
                border-color: rgba(26, 27, 31, .2);


                @if $is_phone_portrait or $is_phone_landscape{
                    margin-top: 20px;
                    flex-grow: .65;
                    font-size: 10px;
                    font-weight: 700;
                }@else{
                    width: 50%;
                    margin: 0 20px 50px 0;
                }

                @if $is_phone_landscape{
                    margin-bottom: 50px;
                }
                

            }

            #image-source{
                max-width: auto;
                max-height: 90%;
            }


            .graph-description-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                

                @if  $is_phone_portrait  or $is_phone_landscape{
                    margin-top: -50px;
                }@else{
                    max-width: 10%;
                    padding-bottom: 50px;
                }

                @if $is_phone_landscape{
                    max-width: 20%;
                }


                .graph-description-header{
                    font-weight: 700;
                    color: rgba(26, 27, 31, 0.4);

                    @if $is_phone_portrait or $is_phone_landscape{
                        font-size: 13px;
                        text-align: center;
                    }@else{
                        font-size: 15px;
                        text-align: left;
                    }


                }

                .graph-description{ 
                    @if $is_phone_portrait or $is_phone_landscape{
                        font-size: 12px;
                        text-align: center;
                    }@else{
                        font-size: 14px;
                        padding-bottom: 20px;
                    }
                    
                }
            }
            
        }

        .navigation-identifier{
            position: absolute;
            width: 100%;
            bottom: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        
            .identifiers-container{
                width: 20%;
                height: 20px;
                display: flex;

                .identifier-cont{
                    // cursor: pointer;
                    height: 100%;
                    transition: 1s;
                    

                    .identifier{
                        transition: 1s;
                        background-color: rgba(26, 27, 31, .3);
                        height: 3px;
                        border-radius: 7px;
                        margin: 0px 5px 0px 5px;
                        
                    }
    
                    #is_selected{
                        background-color: rgba(26, 27, 31, .3);
                        transition: 1s;
                        background-color: rgba(26, 27, 31, .7);
                    }
    
                    #only-one-element{
                        background-color: rgba(26, 27, 31, .7);
                        transition: 1s;
                        background-color: rgba(26, 27, 31, 0);
                    }

                }
            }

            .note{
                text-align: center;
                font-size: 12px;
                color: rgba(26, 27, 31, .84);
            }

        }
    }

}