.footer-contact{
    display: flex;
    @if $is_phone_portrait {
        justify-content: space-around;
    }@else{
        justify-content: center;
    }
    padding-bottom: 7px;
    position: fixed; top: auto; right: 0; bottom: 0; left: 0;
    background-color: rgba(255, 255, 255, 0.5);

    a{
        text-decoration: none;
        color: black;
    }

    .footer-info{
        width: 15%;
        font-size: 15px; 
        text-align: center;
        cursor: pointer;

        &:hover{
            font-weight: 600;
            transition: 2s;
        }

        span{
            text-decoration: underline;
        }
    }

    .language-selector{
        position: absolute;
        @if $is_phone_portrait{
            bottom: 55px;
        }@else{
            bottom: 5px;
        }
        right: 20px;
        cursor: pointer;

        .lang-menu-background{
            
            .language{

                &:hover{
                    text-decoration: underline;
                }
            }

            #is-selected{
                font-weight: 700;
                
                &:hover{
                    text-decoration: none;
                }
            }

        }

        #not-visible{
            display: none;
        }
    }
}