@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500);

$my_font: 'Montserrat';
$nav_height: 16.66vh;

body {
    font-family: $my_font;
    font-weight: 400;
    font-size: 16px;
    color: #1a1b1f;

    .navigation{
        display: flex;
        align-content: center;
        justify-content: space-between;
        padding: 0 50px 0 50px;
        height: $my_font;
        position: fixed; top: 0; left: 0; right: 0; bottom: auto;
        

        .buttons-selection{
            display: flex;

            .menu-option{
                padding-right: 20px;

                $svg_width: 112.5%;
                .svg-animation{
                    width: $svg_width;
                    height: 6%;
                    position: relative; top: -12.5px; right: 6.25%;
                    background-color: rgba(26, 27, 31, 0.24);
                    border-radius: 7px;
                }   
            }

            #is-last-option{
                padding-right: 0
            }

                .option{
                    cursor: pointer;

                    span{
                        color: rgba(26, 27, 31, 0.25);
                        font-weight: 600;
                    }
                }
        }
    }
}